@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Poppins;
	color: #404040;
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

a[disabled] {
	pointer-events: none;
	cursor: pointer;
}

img {
	object-fit: cover;
}

button {
	cursor: pointer;
}

input[type="submit"] {
	cursor: pointer;
}

.index-bg {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(#4400ff71, #4200ff71),
		url("https://cdn.hswstatic.com/gif/becoming-doctor.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.index-content {
	background-color: white;
	border-radius: 20px;
	box-shadow: 1px 1px 10px 4px #00000092;
	width: 30%;
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.logo {
	color: #404040;
}

.logo > span {
	color: #c5c5c5;
}

.btn {
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	outline: none;
}

.btn-primary {
	color: white;
	background-color: #4200ff;
}

.btn-secondary {
	color: #4200ff;
	border: 1px solid #4200ff;
	background-color: white;
}

.btn-danger {
	color: white;
	background-color: #b4403a;
}

.auth-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.form-input {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form-input > label, .form-input > h2 {
	font-weight: 500;
}

.form-input > input {
	height: 30px;
	border-radius: 5%;
	border: 2px solid #dcd7d7;
	outline: none;
	padding: 5px;
}

.link {
	text-decoration: none;
	color: #4200ff;
	border-bottom: 1px dashed #4200ff;
	transition: 0.4s;
}

.link:hover {
	border-bottom-style: solid;
	color: #4400ffc8;
	border-bottom-color: #4400ffc8;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
}

.side-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
	gap: 60px;
	width: 15%;
	max-width: 400px;
	box-shadow: 0 3px 20px -1px #00000033;
}

.links {
	width: 100%;
}

.links > ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding-left: 40px;
	width: 100%;
}

.nav-link {
	display: block;
	width: 100%;
	position: relative;
	padding: 4px 5px;
	height: 30px;
	color: #c9c9c9;
	text-decoration: none;
}

.nav-link[disabled] {
	font-weight: 600;
	color: #404040;
}

.nav-link[disabled]::after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 5px;
	border-radius: 3px 0 0 3px;
	font-weight: 600;
	color: #404040;
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
}

.profile {
	position: absolute;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px;
	padding-right: 20px;
	height: 60px;
	width: fit-content;
	border-radius: 30px;
	box-shadow: 14px 17px 40px 4px #6e8eaf43;
	right: 20px;
	top: 20px;
}

.profile > img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.content {
	padding: 30px;
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 40px;
}

.welcome > span {
	color: #4200ff;
}

.dash__appointment,
.dash__announcements {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
	width: fit-content;
	box-shadow: 0 4px 24px -1px #00000033;
	border-radius: 10px;
	max-height: 28%;
	min-width: 300px;
}

table {
	border-collapse: collapse;
}

table th {
	font-weight: 500;
	color: #909090;
	padding: 0 20px;
	text-align: left;
}

table > tbody {
	overflow-y: auto;
}

table td:first-child {
	padding: 0;
}

table td:first-child > img {
	height: 25px;
	width: 25px;
	border-radius: 50%;
}

table td {
	font-weight: 500;
	padding: 0 20px;
	color: #4200ff;
}

#dash__announcements {
	display: flex;
	flex-direction: column;
	list-style: none;
	gap: 10px;
}

#dash__announcements > li {
	display: flex;
	gap: 10px;
	align-items: center;
}

#dash__announcements > li > img {
	height: 25px;
	width: 25px;
	border-radius: 50%;
}

#dash__announcements > li > p {
	font-weight: 500;
	color: #404040;
}

#appointments {
	max-height: 50%;
	overflow-y: auto;
}

.row, .uneven-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.uneven-row > :first-child {
	width: 100%;
}

.modal {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: white;
	border-radius: 20px;
	box-shadow: 1px 1px 10px 4px #00000092;
	width: 30%;
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.content__profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

#person > img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

#person {
	border-radius:  0 0 20px 20px;
	padding: 10px;
}

#data {
	width: 40%;
	margin: 0 auto;
	text-align: left;
}

